<div class="form-group">

    <label for="exampleFormControlInput1">Kode Gejala</label>
    <input type="text" class="form-control" name="kodeGejala" value=" <%= gejala.kode %> ">

    <div class="form-group">
      <label for="exampleFormControlInput1">Nama Gejala</label>
      <input type="text" class="form-control" name="namaGejala" value="  <%= gejala.nama %>">
    </div>    
  </div>