<div class="form-group">

    <label for="exampleFormControlInput1">Kode Penyakit</label>
    <input type="text" class="form-control" name="kodePenyakit" value="<%= penyakit.kode %> ">

    <div class="form-group">
      <label for="exampleFormControlInput1">Nama Penyakit</label>
      <input type="text" class="form-control" name="namaPenyakit" value="<%= penyakit.nama %>">
    </div>  

    <label for="exampleFormControlTextarea1">Solusi</label>
    <textarea class="form-control" name="solusiPenyakit"  rows="3"> <%= penyakit.solusi  %> </textarea>    
  </div>