    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Penyakit</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/penyakit">Daftar Penyakit</a>
            <a class="dropdown-item" href="/penyakit/new">Tambah Penyakit</a>        
          </div>
        </li>   

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gejala</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/gejala">Daftar Gejala</a>
            <a class="dropdown-item" href="/gejala/new">Tambah Gejala</a>        
          </div>
        </li>  
          
      </ul>
