<h2>Tambahkan Gejala</h2>

<form action="/gejala" method="POST">
    <%- include('../partials/_form_fields_gejala.ejs') %>           
    <button type="submit" class="btn btn-primary">Submit</button>
</form>