
<h2>Penyakit Baru</h2>

<form action="/penyakit" method="POST">
    <%- include('../partials/_form_fields.ejs') %>           
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>